body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-family: 'Ubuntu', sans-serif;
}

.picture {
  position: absolute;
  width: 218px;
  height: 224px;
  margin-top: -8%;
  margin-left: -7%;
}